<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Пожалуйста попробуйте другое наше приложение
        <a target="_blank" class="font-weight-bold" href="https://inwords.ru">InWords</a>
    </span>
    и напишите, что вы думаете об этом на support@inwords.ru.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
